<div class="CircleBadge CircleBadge--medium color-bg-subtle">
  <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="USER NAME" class="CircleBadge-icon" />
</div>

<h1>Some informations</h1>
<address>
User name: <a href="username@gmail.com">Jon Doe</a><br>
E-mail: <a href="username@gmail.com">username@gmail.com</a><br>
Adress: Chemin de la villaire, 3 1040 Echallens<br>
Suisse
</address>
