<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)));">
  <div class="container">
    <h1>Find your dream <strong>Classic Vintage Car</strong>!</h1>
    <p>Choose among the largest list of Vintage Cars to rent</p>
    <%= link_to "Rent now", vehicles_path, class: "btn btn-gradient" %>
  </div>
</div>
