.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 380px;
  position:relative;
  padding: 10px 10px 10px 10px;
}

.card-show {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

.card-show p {
  font-size: 20px;
  opacity: .7;
  margin-top: 10px;
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin-top: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

.des {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.price {
font-weight: bold;
}

.content{
display: flex;
}

#map{
position: sticky;
padding: 16px;
}

@media (min-width: 100px) and (max-width: 575) {
  .cards {
    grid-template-columns: 1fr;
  }

  #map {
    display: none;
  }
}


@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  #map {
    display: none;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #map {
    display: block;
  }
}
